.error, .message, .success{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 24px;
}

.error {
    background-color:#F44336;
}

.message {
    background-color:orange;
}

.success {
    background-color:seagreen;
}