@import '../base';

.Dashboard {
    //Main dashboard
    .main {
        background: $mainBackgroundColor;
        margin-left: 6rem;

        .logo{
            display: flex;
            justify-content: center;
            align-items:center;
            margin: 48px 0 0 0;
    
            .logoImage{
                width: 200px;
                height:200px;
            }
            
            .logoName{
                margin: 0 12px;
                font-size: 56px;
                color: white;
                white-space: nowrap;
            }
        }

        .noneRooms{
            display:flex;
            color: white;
            font-size: 1.8rem;
            justify-content: center;
            text-align: center;
            margin: 12px 4px 48px 4px;
        }
    }

}

@media only screen and (max-width: $mainMediaScreen){
    .Dashboard {
        .main {
            margin-left: 0rem;

            .logo{
                display: flex;
                justify-content: center;
                align-items:center;
                margin: 48px 0 0 0;
        
                .logoImage{
                    width: 150px;
                    height:150px;
                }
                
                .logoName{
                    font-size: 48px;
                    color: white;
                    white-space: nowrap;
                }
            }
        }
    }
}





