.Dashboard {
    --theme: #0B0F18;
    --navsize: 300px;
    display: grid;
    grid-template-columns: var(--navsize) auto;
    
}

.Dashboard .nav {
    position: fixed;
    align-items: center;
    height:100vh;
    top: 0;
    width: var(--navsize);

}

.Dashboard .nav > div,p, .nav {
    background: var(--theme);
     
}

.Dashboard .nav {
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.25);
}


.Dashboard .main {
    grid-column: 2/3;
}

 .Dashboard .main .app-name{
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 48px;
    font-weight: bold;
} 