@import '../base';

.profile-modal {
    z-index: -1;
}

.profile-modal .modal-content{
    min-width: 340px;
    
    .profile-text{
        font-size:1rem;
    }

    .profile-accordion{
        display: flex;
        flex-direction:column;

        .accordion-click{
            color: white;
            font-size: 18px;;
            margin-top: 20px;
            background: $mainNavBackgroundColor;
            border-radius: 4px;
            text-decoration: none;
            transition: 200ms;

        }

        .accordion-click:hover{
            filter: grayscale(0) opacity(1);
            background: lighten($mainNavBackgroundColor, 3);
            color: $mainLinkAuthColor;

        }

        .accordion-body{
            margin-top:20px;
            margin-bottom:20px;


            .deleteEmialText{
                color:$mainLinkAuthColor;
                font-weight: bold;
            }
        }

    }

 }