@import '../base';


.voteModal .modal-content {
    $tipColor: rgb(206, 206, 206);
    overflow-y: scroll;
    max-height: 100vh;

    .voteModal-title{
        font-size: 1.8em;
    }
    
    .voteForm{
        .voteForm-group{
            .voteForm-title{
                font-size: 1.5em;
                font-weight: 200;
            }
        }

        //Question
        .voteForm-question{
            .question-input{
                margin: 0.4em 0 0 0;
                font-size: 1.3em;
                height : 60px;
                word-break: break-word;
            }
        }

        // Voting Type
        .voteForm-checkbox{
            display: flex;
            flex-direction: column;
           

            .checkbox{
                cursor: pointer;
                width: max-content;
                margin: 0.2em 0 0.5em 0;
                
                .checkbox-input{
                    display: none;
                }

                .checkbox-input + .checkbox-box:before{
                    content: "\2713";
                    border: 0.15em solid $mainButtonAuthColor;
                    border-radius: 0.2em;
                    color: transparent;
                    padding: 0 0.3em 0 0.3em;
                    transition: .4s;


                } 
                .checkbox-input:checked + .checkbox-box:before{
                    background:$mainButtonAuthColor;
                    color: white;
                }
                .checkbox-text{
                    font-size: 1.1em;
                    font-weight: 200;
                    margin-left: 0.5em;
                }
            }
            .checkbox-tip{
                font-size: 0.8em;
                font-weight: 400;
                color: $tipColor;

            }
        }


        //Question Type 
        .voteForm-radio{
        
            .radio{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                height: 1.5em;

                .radio-input{
                    display: none;
                }

                .radio-box{
                    width: 1.2em;
                    height: 1.2em;
                    border: 0.15em solid $mainButtonAuthColor;
                    border-radius:50%;
                }

                .radio-box:after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: $mainButtonAuthColor;
                    border-radius:50%;
                    transform: scale(0);
                    transition: .4s;

                }

                .radio-input:checked + .radio-box:after{
                    transform: scale(0.7);
                }

                .radio-text{
                    font-size: 1.1em;
                    font-weight: 200;
                    margin-left: 0.5em;

                }

            }
            .radio-tip{
                font-size: 0.8em;
                font-weight: 400;
                color: $tipColor;

            }
        }

        .voteForm-choices{
            cursor: pointer;
            display: flex;
            flex-direction: column;

            .choices-addNew{
                color: white;
                text-align: center;
                background: $mainButtonAuthColor;
                border-radius: 5px;
                font-size: 1.2em;
                font-weight: 200;
                margin: 0.5em 0 0.5em 0;
                transition:0s 0.3s ;
            }

            .choices-addNew:active{
                background: lighten($mainButtonAuthColor,5%);
                transition:0s ;
            }

            .choices-option{
                display: inline-flex;
                align-items:center;
                margin-top: 1em;

                .option-delete{

                    margin-left: 0.5em;
                    font-size: 2em;
                    color: $tipColor;
                }
            }
        }


    }
}



