@import '../base';

.ForgotPassword, .Login, .Signup{
    background: $mainBackgroundColor;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;  

    .restart{
        width: 420px;
    }

    .topLine{
        border: 3px solid white;
    }
    
    .link{
        color: $mainLinkAuthColor;
    }

    .downLink{
        font-size: 1.2rem;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 48px 0 0 0;

        .logoImage{
            width: 200px;
            height:200px;
        }
        
        .logoName{
            font-size: 56px;
            color: white;
            white-space: nowrap;
        }
    }

}

@media (max-width: 600px) {
    .ForgotPassword, .Login, .Signup{ 
        .restart{
            margin-top: 0px;
            width: 340px;
        }

        .logo{
            display: flex;
            justify-content: center;
            align-items:center;
            margin: 48px 0 0 0;
    
            .logoImage{
                width: 150px;
                height:150px;
            }
            
            .logoName{
                font-size: 48px;
                color: white;
                white-space: nowrap;
            }
        }

    }
}
